<!DOCTYPE html>
<html>
  <head>
    <title>User Add</title>
    <link rel="stylesheet" href="../../Assets/Role Based Access/styleAddUser.css" />
  </head>
  <body>
    <div class="container">
    <h1>User Mangement</h1>
    <form id="form-1" method="post" enctype="">
      <table>
    <tr>
        <td>
        <label for="email">Email</label>
        </td>

        <td>
            <input type="email" id="email" name="email"  placeholder="Email" />
        </td>
        <td title="hint: sample@example.com">&#9432</td>
    </tr>

    <tr>
        <td>
        <label for="username">Username</label>
        </td>

        <td>
            <input type="username" id="username" name="username"  placeholder="Username" />
        </td>
    </tr>

    <tr>
        <td>
            <label for="password">Password</label>
        </td>
 
        <td>
        <input type="password" id="password" name="password"  placeholder="Password">
        </td>
    </tr>

    <tr>
          <td>
            <label for="confirmPassword" >Confirm Password</label>
          </td>
       
          <td>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm Password"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>

          <td>
            <input type="text" id="name" name="name" placeholder="Name" />
          </td>

          <td>
            <input type="file" id="profilPic" name="profilPic" />
          </td>
        </tr>

        <tr>
          <td><label for="gender">Gender</label></td>
          <td colspan="2">
            <input type="radio" id="male" name="gender" value="Male" />
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" />
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="Other" />
            <label for="other">Other</label>
          </td>
          <td rowspan="6">
            <!-- <img src="my.jpg" /> -->
          </td>
        </tr>

        <tr>
          <td>
            <label for="date">Date</label>
          </td>

          <td>
            <input type="date" id="date" name="date" />
          </td>
        </tr>

        <tr>
          <td>
            <label for="address">Address</label>
          </td>

          <td>
            <input
              type="text"
              id="address"
              name="address"
              placeholder="Address"
            />
          </td>
        </tr>

        <tr>
          <td>
            <label for="contacNumber">Contact Number</label>
          </td>

          <td>
            <input
              type="tel"
              placeholder="+880"
              required
              value="+880"
              id="contacNumber"
              name="contacNumber"
            />
          </td>
        </tr>

        <tr>
          <td><label for="userType">User Type</label></td>
          <td colspan="2">
            <input type="radio" id="admin" name="userType" value="admin" />
            <label for="male">Admin</label>
            <input type="radio" id="editor" name="userType" value="editor" />
            <label for="female">Editor</label>
            <input type="radio" id="user" name="userType" value="user" />
            <label for="other">User</label>
          </td>
  
        </tr>

        <tr>
          <td>
            <input
              type="submit"
              id="submitBtn"
              name="submitBtn"
              value="Add User"
            />
          </td>
          <td>
            <input
              type="reset"
              id="resetBtn"
              name="resetBtn"
              value="Reset value"
            />
          </td>
        </tr>
      </table>
    </form>
    <script src="scriptaddUser.js"></script>
    </div>
  </body>
</html>
