<!DOCTYPE html>
<html>
  <head>
    <title>User Delete</title>
    <link
      rel="stylesheet"
      href="../../Assets/Role Based Access/styleDeleteUser.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Delete User</h1>
      <form>
        <table>
          <tr>
            <td>
              <label for="username">Search by Username</label>
            </td>

            <td>
              <input type="search" id="username" name="username" />
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <input
                type="submit"
                id="submitBtn"
                name="submitBtn"
                value="Delete User"
              />
            </td>
          </tr>
        </table>
      </form>
      <script src="script.js"></script>
    </div>
  </body>
</html>
