<!DOCTYPE html>
<html>
  <head>
    <title>Manage User Action</title>
    <link
      rel="stylesheet"
      href="../../Assets/Role Based Access/styleManageUser.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Manage User Action</h1>
      <form>
        <table>
          <tr>
            <td>
              <label for="username">Search by Username</label>
            </td>

            <td>
              <input type="search" id="username" name="username" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="resitriction">Limit User Id Resitriction</label>
            </td>

            <td>
              <input
                type="radio"
                id="resitrictionDay"
                name="resitriction"
                value="resitrictionDay"
              />
              <label for="resitrictionDay">1 Day</label>
              <input
                type="radio"
                id="resitrictionWeek"
                name="resitriction"
                value="resitrictionWeek"
              />
              <label for="resitrictionWeek">1 Week</label>
              <input
                type="radio"
                id="resitrictionMonth"
                name="resitriction"
                value="resitrictionMonth"
              />
              <label for="resitrictionMonth">1 Month</label>
            </td>
          </tr>

          <tr>
            <td>
              <label for="comment">Limit User Comment</label>
            </td>

            <td>
              <input
                type="radio"
                id="commentDay"
                name="comment"
                value="commentDay"
              />
              <label for="commentDay">1 Day</label>
              <input
                type="radio"
                id="commentWeek"
                name="comment"
                value="commentWeek"
              />
              <label for="commentWeek">1 Week</label>
              <input
                type="radio"
                id="commentMonth"
                name="comment"
                value="commentMonth"
              />
              <label for="commentMonth">1 Month</label>
            </td>
          </tr>

          <tr>
            <td>
              <label for="post">Limit User post</label>
            </td>

            <td>
              <!-- <input type="number" id="post" name="post" /> -->
              <input type="radio" id="postDay" name="post" value="postDay" />
              <label for="postDay">1 Day</label>
              <input type="radio" id="postWeek" name="post" value="postWeek" />
              <label for="postWeek">1 Week</label>
              <input
                type="radio"
                id="postMonth"
                name="post"
                value="postMonth"
              />
              <label for="postMonth">1 Month</label>
            </td>
          </tr>
          <!-- <tr>
            <td>
              <label for="commentId">Search by Comment Id</label>
            </td>

            <td>
              <input type="search" id="commentId" name="commentId" />
              <input
                type="button"
                id="deleteCommentBtn"
                name="deleteCommentBtn"
                value="Delete Comment"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label for="postId">Search by Post Id</label>
            </td>

            <td>
              <input type="search" id="postId" name="postId" />
              <input
                type="button"
                id="deletePostBtn"
                name="deletePostBtn"
                value="Delete post"
              />
            </td>
          </tr> -->

          <tr>
            <td colspan="5">
              <input
                type="submit"
                id="submitBtn"
                name="submitBtn"
                value="Submit Action"
              />
              <input type="reset" value="Reset Form" />
            </td>
          </tr>
        </table>
      </form>
      <script src="script.js"></script>
    </div>
  </body>
</html>
