<!DOCTYPE html>
<html>
  <head>
    <title>Permission Admins</title>
    <link rel="stylesheet"  href="../../Assets/Role Based Access/stylePermissionSetting.css" />

  </head>
  <body>

    <h1>Permission Settings</h1>
    <p>Welcome as a Admin of the Organization</p>
       
       <a href="manageUserAction.html">User Management</a>
       <!-- <a href="employeeManagement.html">Employee Management</a> -->
       <a href="addUser.html">Add User</a>
       <a href="deleteUser.html">Delete User</a>
       <!-- <a href=""></a> -->

    </table>
  </body>
</html>
