<!DOCTYPE html>
<html>
  <head>
    <title>Permission Admin</title>
  </head>
  <body>
    <a href="javascript:history.back()" >Go Back</a>

    <h1>Permission Admin</h1>
    <p>Welcome as a Admin of the Organization</p>
       
       <a href="userManagement.html">User Management</a>
       <a href="employeeManagement.html">Employee Management</a>
       <a href="addUserAdmin.html">Add User</a>
       <a href=""></a>
       <a href=""></a>

    </table>

    <script src="script.js"></script>
  </body>
</html>
