<!DOCTYPE html>
<html>
  <head>
    <title>Confirm Password</title>
    <link rel="stylesheet" href="../../Assets/User%20Authentication/styleConfirmPassword.css" />
  </head>
  <body>
    <section class="form-section">
      <form id="form-1" method="post">
        <h1>Confirm Password</h1>
        <table>
          <tr>
            <td><label for="password">Password</label></td>
          </tr>
          <tr>
            <td><input type="password" id="password" name="password" /></td>
            <td><label title="hint: password must contain more than 7 character and atleast one Capital letter and One small letter along with a number ">&#9432</label></td>
          </tr>
          <tr>
            <td><label for="confirmPassword">Confirm Password</label></td>
          </tr>
          <tr>
            <td>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
              />
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="submit"
                id="confirmPasswordBtn"
                name="confirmPasswordBtn"
                value="Confirm Password"
              />
            </td>
          </tr>
        </table>
      </form>
    </section>
    <script src="../../Controller/User%20Authentication/JS/scriptconfirmPassword.js"></script>
  </body>
</html>
