<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Password</title>
    <link rel="stylesheet" href="../../Assets/User%20Authentication/styleConfirmPassword.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="form-section">
      <form id="form-1" method="post" action="../../Controller/User Authentication/PHP/confirmPassword.php">
        <h1>Confirm Password</h1>
        <table>
          <tr>
            <td><label for="password">Password</label></td>
          </tr>
          <tr>
            <td><input type="password" id="password" name="password" /></td>
            <td><label title="hint: password must contain more than 7 character and atleast one Capital letter and One small letter along with a number ">&#9432</label></td>
          </tr>
          <tr>
            <td><label for="confirmPassword">Confirm Password</label></td>
          </tr>
          <tr>
            <td>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
              />
              
            </td>
            <td>
              <i class="fa fa-eye" onclick="myFunction()" > </i>
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="submit"
                id="confirmPasswordBtn"
                name="confirmPasswordBtn"
                value="Confirm Password"
              />
            </td>
          </tr>
        </table>
      </form>
    </section>
    <script src="../../Controller/User%20Authentication/JS/scriptconfirmPassword.js"></script>
  </body>
</html>
