<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="../../Assets/User%20Authentication/styleLogin.css"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav>
      <a href="index.html">Homepage</a>
    </nav>
    <section class="login-container">
      <h1>Login</h1>

      <form
        id="form-1"
        method="post"
        action="../../Controller/User Authentication/PHP/loginCheck.php"
      >
        <table>
          <tr>
            <td>
              <label for="username">Username</label>
            </td>
          </tr>

          <tr>
            <td>
              <input type="text" id="username" name="username" placeholder="Enter username......" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="password">Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="password" id="password" name="password"
              placeholder="Enter password......" />
              <!-- <input type="checkbox" onclick="myFunction()" />Show Password -->

              <!-- <label for="rememberMe">
                <input type="checkbox" id="rememberMe" name="rememberMe" />
                Remember Me -->
              </label>
            </td>
            <td>
              <i class="fa fa-eye" onclick="myFunction()" > </i>
            </td>
          </tr>

          <tr>
            <td >
              <input type="submit" id="submit" name="submit" value="Login" />
            </td>
          </tr>
          
          <tr>
            <td>
              <a href="forgetPassword.html">Forgot Password?</a>
            </td>
          </tr>

          <tr>
            <td>
              <p>Don't have an account? <a href="signUp.html">Sign Up</a></p>
            </td>
          </tr>
        </table>
      </form>
    </section>
    <footer>
      <a href="#">Contact Us</a>
    </footer>

    <script src="../../Controller/User%20Authentication/JS/scriptlogin.js"></script>
  </body>
</html>
