<!DOCTYPE html>
<html>
  <head>
    <title>OTP</title>
    <link
      rel="stylesheet"
      href="../../Assets/User%20Authentication/styleOtp.css"
    />
  </head>
  <body>
    <h1>OTP SUBMISSION</h1>
    <form id="form-1" method="post" enctype="">
      <table>
        <tr>
          <td>
            <label for="otp">Check your Email for OTP</label>
          </td>
        </tr>

        <tr>
          <td>
            <input type="text" id="otp" name="otp" placeholder="6 digit OTP" />
          </td>
        </tr>

        <tr>
          <td>
            <input
              type="button"
              id="otpBtn"
              name="otpBtn"
              value="Confirm OTP"
            />
          </td>
        </tr>
      </table>
    </form>
    <script src="../../Controller/User%20Authentication/JS/scriptOtp.js"></script>
  </body>
</html>
